@import '_variables.css';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}

.container {
  position: relative;
  width: 34.87vw;
  margin: 0 auto;
  background: var(--bg);
  overflow: hidden;
}

.container:before {
  content: '';
  display: block;
  padding-top: 101%;
}

.circle-large {
  position: absolute;
  width: 80.52%;
  height: 79.69%;
  top: -26.22%;
  left: -23.38%;
  border-radius: 50%;
  background: var(--circle-large);
}

.circle-large:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 24%;
  height: 26.5%;
  background: linear-gradient(133deg, transparent 50%, red 50%);
}

.rectangle-straight {
  position: absolute;
  z-index: 5;
  top: 39.59%;
  left: 10.39%;
  width: 83.12%;
  height: 12.08%;
  background: var(--rectangle-straight);
  transform: rotate(47deg);
}

.circle-small {
  position: absolute;
  top: 33.93%;
  left: 55.84%;
  z-index: 10;
  width: 25.45%;
  height: 25.19%;
  border-radius: 50%;
  background: var(--circle-small);
}

.rectangle-rounded {
  position: absolute;
  top: 66.84%;
  left: 12.5%;
  z-index: 15;
  width: 75.9%;
  height: 20.1%;
  background: var(--rectangle-rounded);
  border-radius: 2.4rem;
}
